/*header e body*/
*{
  box-sizing: border-box;
}
.body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background: aliceblue;
}
.header{
  padding: 30px;
  text-align: center;
  background-color: aliceblue;
}

.header h1{
  font-size: 50px;
  text-align: center;
}

/*menu*/
.navbar{
  overflow: hidden;
  background-color: rgb(243, 66, 96);
}
.menu{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: rgb(243, 66, 96);
  display: inline-flex;
  float: left;
}

/*link login*/
.login{
  float: right;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: rgb(243, 66, 96);
  display: inline-flex;
}

/*link geral*/
li a{
  color: aliceblue;
  display: block;

  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover{
  background-color: palevioletred;
}
a{
  color: aliceblue;
  display: block;
  
  text-align: left;
  text-decoration: none;
}


/*bloco de texto*/

.text-center{
  background-color: rgb(243, 66, 96);
  border-radius: 9px;
  float: left;
  width: 74%;
  margin-right: 0.5%;
  margin-top: 0.5%;
  
}
.text-rigth{
  background-color: rgb(243, 66, 96);
  border-radius: 9px;
  float: left;
  width: 25%;
  padding-left: 5px;
  margin-top: 0.5%;
}

.albimg{

  width: 100%;
  padding: 20px;
  text-align: center;
  text-decoration-color: rgb(243, 66, 96);
}
.albimg:hover{
  width: 100%;
  padding: 20px;
  text-align: center;
  text-decoration-color:black;

}

.cards{

  padding: 20px;
  margin-top: 20px;
}

.row:after{
  content: "";
  display:table;
  clear: both;
}

/*rodapé*/
.footer{
  padding: 20px;
  text-align: center;
  background: aliceblue;
  margin-top: 20px;
}